*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}
.sliding_text_wrap {
    padding: 12px 20px 8px;
    background: white;
    margin-top: 30px;
    border-radius: 33px;
    font-size: 14px;
    color: black;
    min-height: 40px;
}
.cat-items-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    /* background-color: #fff; */
}
.cat-item {
    flex: 0 0 12.33%;
    padding: 0 5px;
    margin-bottom: 20px;
    text-align: center;
    /* background-color: white; */
}
.cat-item .cat-item-inner {
    display: block;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    padding: 15px 0;
}
.m-home {
    padding-top: 50px;
}
.m-header {
    text-align: center;
}

.m-blurb {
    text-align: center;
    margin-bottom: 25px;
}
p {
    margin-bottom: 10px;
    font-size: 15px;
    color: #01132d;
    line-height: 26px;
}
.p-items-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    padding: 0;
    justify-content: flex-start;
}
.p-item {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 5px 10px;
    margin-bottom: 0;
    display: flex;
    position: relative;
    background-color: #fff;
}
.p-item-inner {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.marks {
    display: flex;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 10;
    flex-direction: column;
    align-items: flex-start;
}
.marks .mark {
    background: #6e2594;
    width: auto;
    color: #fff;
    font-size: 12px;
    padding: 3px 10px;
    line-height: 14px;
    margin-bottom: 2px;
    border-radius: 0 20px 20px 0;
    flex: 0 0 auto;
}
.p-item-img {
    text-align: center;
    border-bottom: 3px solid rgba(55,73,187,.03);
    flex: 0 0 220px;
    padding: 20px;
    margin: 0;
}

.p-item-details {
    padding: 15px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.p-item-price {
    line-height: 22px;
    font-size: 17px;
    font-weight: 600;
    color: #ef4a23;
}
.car{
    margin: 50px 0 0 0;
}